[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/bijaybisht/yum.git
[submodule "cookbooks/littlechef"]
	path = cookbooks/littlechef
	url = https://github.com/bijaybisht/cookbook-littlechef.git
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = https://github.com/bijaybisht/sudo.git
[submodule "site-cookbooks"]
	path = site-cookbooks
	url = https://github.com/bijaybisht/site-cookbooks.git
[submodule "cookbooks/group"]
	path = cookbooks/group
	url = https://github.com/bijaybisht/chef-group.git
[submodule "cookbooks/user"]
	path = cookbooks/user
	url = https://github.com/bijaybisht/chef-user.git
